<h1> Movies List</h1>

<% @movies.each do |movie| %>

    <h2> Director: <%= movie.director %> </h2>
    <h2> Title: <%= movie.title %> </h2>
    <h2> Rating: <%= movie.rating %> </h2>
    <p> <%= link_to 'View', movie_path(movie) %> </p>

    <% end %>


