<ul>


<li> Title: <%= @movie.title %></li>   
<li> Director: <%= @movie.director %></li>
<li> Rating: <%= @movie.rating %></li>
    
    </ul>

    <p> <%= link_to 'View All Movie' , movies_path %> </p>