body {
    background: rgb(255, 172, 200);
    font-family: "Comic Sans MS", cursive, sans-serif;
}
li

{
    font-family: Impact, Charcoal, sans-serif ;
    margin-top: 20px;
}

h1{

    margin-bottom: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #92a8d1;
    width:285px;
}