<h1> Create a new book </h1>

<%= form_with scope: :book, url: '/books', local: true do |form| %>
    <p>
    <%= form.text_field :title %>
    </p>
       <p>
    <%= form.text_field :author %>
    </p>
       <p>
    <%= form.submit %>
    </p>

    <% end %>
